*{
  margin:0;
  box-sizing: border-box;
}

.Main{
  width:100%;
  height:100%;
  /* overflow:hidden; */
  position:absolute;
  background-color:#2A363B ;
}
#container{
  width:100%;
  position:fixed;
  z-index: 999;
  padding:.5em 2.5em;
}

#menu{
   font-family:'Saira Condensed', sans-serif;
   font-size: 1em;
   letter-spacing: 2px;
   float: right;
}

#menu ul{
   list-style: none;
}

#menu ul li{
  display:inline-block;
  margin-left: 6em;

}

/* #menu ul li:hover{
  color:#747474;
  cursor: pointer;
} */

.link{
  color:#fff;
  text-decoration: none;
}

.link:hover{
  color:#747474;
  cursor: pointer;
}

#logo{
  float:left;
}


@media only screen and (max-width: 600px){
  #menu ul li{
    display:inline-block;
    margin-left: .5em;
  }
  #menu{
    font-size: .75em;
    letter-spacing: 3px;
 }
}
@media only screen and (min-width: 600px){
  #menu ul li{
    display:inline-block;
    margin-left: 3em;
  }
}
@media only screen and (min-width: 768px){
  #menu ul li{
    display:inline-block;
    margin-left: 4em;
  }

}
@media only screen and (min-width: 992px){
  #menu ul li{
    display:inline-block;
    margin-left: 5em;
  }


}
@media only screen and (min-width: 1200px){
  #menu ul li{
    margin-left: 6em;
  }
} 




.Nav_link:hover {
  color: yellow;
}
.Nav_link:active {
  color: teal;
}