#register{
   /* width:50em;
   height:30em; */
   border:1px;
   border-radius:5px; 
   background-color: aliceblue;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding:1em;

}
#Right_Register{
    display: flex;
    flex-direction: column;
    justify-content:space-around; 
    /* border: 1px solid saddlebrown; */
    padding:1em;
    float: right;
}